@custom-variant hover (&:hover);


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green: #63817F;
  --yellow: #F5BD19;

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}


main{
  padding: 3rem 2rem 3rem 2rem;
}